*{
    margin: 0;
    padding: 0;
}

.content{
    width: 300px;
    height: 400px;
    margin: 100px auto;
    overflow: hidden;
}

.content img{
    width: 300px;
    height: 400px;
    transition: 2s;
}

.content:hover img{
    transform: scale(1.5);
}